div {
  width: 800px;

}
h1, h3 {
  font-family: arial;
  color: pink;
}

p[class^="blur"] {
  font-family: arial;
  color: grey;
}

p {
  font-family: arial;
}

em {
  font-family: arial;
  font-style: italic;
}
@media screen and (max-width: 800px)
{
    div
    {
      float: left;
      width: 100%
    }
}
